*{
    font-weight: 500;
}


textarea{
    resize: none;
    border: none;
    padding: 8px 41px;
    border: #000000 solid 2px;
}

body{
    background-color: rgb(172, 141, 190);
    font-family: FreeMono, monospace;
}
.card{
    margin-bottom: 30px;
    margin-top: 25px;
    background-color: #EDF2F7 ;
    border: #ffffff solid 2px;
    padding: 18px;
}

#columns{
    display: flex;
}
.column{
    width: 25%;
    padding: 0 20px;
    border-radius: 5px;
}
.change{
    border-top: rgb(0, 0, 0) 2px dotted;
    margin-top: 20px;
}
ul{
    padding: 0;
    margin-bottom: 0px;
}
li{
    list-style-type: none;
    margin: 10px;
}
button{
    padding: 9px 20px;
    border: none;
    background-color: #ffffff;
    margin-top: 15px;
    border-radius: 5px;

}
.button1{
    left: 5%;
    position: relative;
}
button:hover{
    background-color: #000000;
    cursor: pointer;
    transition: 0.5s;
    color: #ffffff;
}
#inTime{
    color: black;
    text-decoration: underline;
}
#notInTime {
    color: rgb(125, 34, 178);
    text-decoration: underline;
}
.title{
    margin-bottom: 25px;
}
#form {
    margin: 50px 0;
    display: block;
    text-align: center;
    margin-bottom: 70px;

}
.button{
    padding: 9px 20px;
    border: none;
    background-color:rgb(172, 141, 190);
    margin-top: 15px;
    margin-bottom: -40px;
    border-radius: 5px;

}
input{
    border: none;
    border:rgb(172, 141, 190) solid 2px;
    width: 200px;
    padding: 10px 12px;

}

.pForm{
    margin-top: 35px;

}

/*модальное окно*/
.modal-shadow {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.39);
    margin-top: -70px;
    border-radius: 5px;

}

.modal {
    background: #ffffff;
    padding: 15px;
    min-width: 420px;
    max-width: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    border-radius: 5px;

}
.modal:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
.modal-close{
    border-radius: 32%;
    color: #000000;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7px;
    right: 7px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.card{
    background-color: #ffffff;
    color: #00000;
}

h3{
    color: #000000;
}